#landingPage{
    background: url(images/markus-spiske-vblGMzpFvmY-unsplash.jpg);
    background-size: cover;
    background-position: center;
      background-repeat: no-repeat;

}
h1{
    text-align: center;
    padding-top: 50px;
}
h2,h3{
    text-align: center;
    font-style: italic;
}

.footnotesHome{
    text-align: right;
    padding-right: 5%;
}
hr{
    border-width: thick;
}
.bg {
  /* The image used */
  background-image: url("/images/markus-spiske-vblGMzpFvmY-unsplash.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
padding: 100px;
}
.homeText {
    padding: 10px;
    color:white;
    font-size: 18px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

#homelogo{
    height:70%;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homeNavLinks{
    color: #83d1f2;
    font-size: 20px;
}
#aboutPicture{
    height: 50%;
    width: 30%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
.footerAddress{
    text-align: center;
}
#spartanLogo{
    padding-left: 10px;
}
.scheduleFormat{
    line-height: 250%;
}