html{
    height: 100%;
}
body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
#landingPage{
    background: url(images/LandingPageColoredPencils.jpg);
    background-size: cover;
    background-position: right;
      background-repeat: no-repeat;

}
h1,h2{
    text-align: center;
    padding-top: 50px;
}
h3{
    text-align: center;
    font-style: italic;
}

.footnotesHome{
    text-align: right;
    padding-right: 5%;
    font-size: 80%;
}
hr{
    border-width: thick;
}

.homeText {
    color:white;
    padding-top: 20px;
    font-size: 20px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

#homelogo{
    height:90%;
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#aboutPicture{
   height: 450px;
    width:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    padding: 25px;

}
.footerAddress{
    text-align: center;
    font-size: 85%;
}
#spartanLogo{
    padding-left: 10px;
}
.scheduleFormat{
    line-height: 250%;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (min-width : 1204px)
{
 .footerAddress{
    text-align: center;
    font-size: 105%;
}
    .footnotesHome{
    text-align: right;
    padding-right: 5%;
    font-size: 80%;
}
   #homelogo{
    height:50%;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (max-width : 375px)
{
    #aboutPicture{
   height: 600px;
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
    #homelogo{
    height:100%;
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}