html{
    height: 150%;
}
body{
   
}
#landingPage{
    background: url(images/markus-spiske-vblGMzpFvmY-unsplash.jpg);
    background-size: cover;
    background-position: right;
      background-repeat: no-repeat;

}
h1{
    text-align: center;
    padding-top: 50px;
}
h2,h3{
    text-align: center;
    font-style: italic;
}

.footnotesHome{
    text-align: right;
    padding-right: 5%;
    font-size: 80%;
}
hr{
    border-width: thick;
}

.homeText {
    color:white;
    font-size: 20px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

#homelogo{
    height:70%;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#aboutPicture{
   height: 80%;
    width:45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
.footerAddress{
    text-align: center;
    font-size: 80%;
}
#spartanLogo{
    padding-left: 10px;
}
.scheduleFormat{
    line-height: 250%;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
}
